.footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;

  margin: 0;
  width: 100%;

  span {
    --default-margin: 0.5rem;
    margin-left: var(--default-margin);
    padding: var(--default-margin) 0;
  }
}
